<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,464},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>lampFire.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,49},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>ll.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{426,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,366}}</string>
                <key>sourceSize</key>
                <string>{426,366}</string>
            </dict>
            <key>menu_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,151},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>rate_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{390,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,90}}</string>
                <key>sourceSize</key>
                <string>{390,90}</string>
            </dict>
            <key>restart_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,98},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>selectlevel_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{390,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,90}}</string>
                <key>sourceSize</key>
                <string>{390,90}</string>
            </dict>
            <key>sound_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{59,45}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{59,45}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>sound_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,49},{55,47}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{55,47}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>start_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{422,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,92}}</string>
                <key>sourceSize</key>
                <string>{422,92}</string>
            </dict>
            <key>xiaoxingxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,204},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>xiaoxingxing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,204},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameui.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d9e04a4856f9fa349692fa3d2d1c362:1/1$</string>
            <key>textureFileName</key>
            <string>gameui.png</string>
        </dict>
    </dict>
</plist>
